@-webkit-keyframes blinker {
  50% {
    background-color: transparent;
    color: #4e4;
    box-shadow: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("./Primary_source_unavailable_terminal_error.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.console-component {
  background: repeating-linear-gradient(0deg, transparent, transparent 3px, rgba(68, 238, 68, 0.03) 4px, rgba(68, 238, 68, 0.07) 5px, rgba(68, 238, 68, 0.03) 6px, transparent 7px);
  position: absolute;
  border-radius: calc(calc(100vw / 10) * 0.85);
  left: calc(calc(100vw / 10) * 0.85);
  right: calc(calc(100vw / 10) * 0.85);
  top: calc(calc(100vw / 10) * 0.85);
  color: #4e4;
  text-shadow: 0 0 5px rgba(68, 238, 68, 0.5);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  height: calc(100vw * 0.59);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: calc(calc(100vw / 10) * 0.3) calc(calc(100vw / 10) * 0.15);
  word-wrap: break-word;
  line-height: 1.5em;
}

.console-component * {
  word-wrap: break-word;
  line-height: 1.5em;
}

.console-component .console-cursor, .console-component .console-cursor-empty {
  animation: blinker 1.3s step-start 0s infinite;
  white-space: pre-wrap;
  color: #222;
  background-color: #4e4;
  box-shadow: 0 0 4px rgba(68, 238, 68, 0.5);
}

.console-component .console-history .history-input {
  font-weight: 700;
}

.console-component .console-history .history-input:before {
  content: ".";
  visibility: hidden;
}

.console-component .console-history .stderr {
  color: #e44;
  text-shadow: 0 0 5px rgba(238, 68, 68, 0.6);
}

.console-component .console-history .stdout:before {
  content: "=> ";
}

.console-component .console-prompt {
  font-weight: 700;
  white-space: pre-wrap;
}

.console-component .console-prompt:after {
  content: '.';
  visibility: hidden;
}

.console-component .console-prompt:before {
  content: ".";
  visibility: hidden;
}
