// compileExpanded: ./console.css
$term_black: #222;
$term_white: #eee;
$term_green: #4e4;
$term_red: #e44;
$term_orange: #e94;
$term_yellow: #ee4;
$term_grey: #777;

$term_offset: calc(100vw / 10);

@-webkit-keyframes blinker {
  50% { background-color: transparent; color: $term-green; box-shadow: none; }
}

::-webkit-scrollbar {
  display: none;
}

body {
  // background-image: url('../images/Primary_source_unavailable_terminal_error.jpg');
  background-image: url('./Primary_source_unavailable_terminal_error.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.console-component {
  // background-color: transparent;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 3px,
    transparentize($term_green, .97) 4px,
    transparentize($term_green, .93) 5px,
    transparentize($term_green, .97) 6px,
    transparent 7px
  );

  position: absolute;
  border-radius: calc(#{$term_offset} * 0.85);
  left: calc(#{$term_offset} * 0.85);
  right: calc(#{$term_offset} * 0.85);
  top: calc(#{$term_offset} * 0.85);
  color: $term_green;
  text-shadow: 0 0 5px transparentize($term_green, 0.5);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;

  height: calc(100vw * 0.59;

  overflow-y: scroll;
  box-sizing: border-box;
  padding: calc(#{$term_offset} * 0.3) calc(#{$term_offset} * 0.15) ;

  word-wrap: break-word;
  line-height: 1.3em;


  * {
    word-wrap: break-word;
    line-height: 1.3em;
  }

  .console-cursor, .console-cursor-empty {
    animation: blinker 1.3s step-start 0s infinite;
    white-space: pre-wrap;
    color: $term_black;
    background-color: $term_green;
    box-shadow: 0 0 4px transparentize($term_green, 0.5);
  }

  .console-history {
    .history-input {
      font-weight: 700;

      &:before {
        content: ".";
        visibility: hidden;
      }
    }

    .stderr {
      color: $term_red;
      text-shadow: 0 0 5px transparentize($term_red, 0.4);
    }

    .stdout {
      &:before {
        content: "=> "
      }
    }
  }

  .console-prompt {
    font-weight: 700;
    white-space: pre-wrap;

    &:after {
      content: '.';
      visibility: hidden;
    }

    &:before {
      content: ".";
      visibility: hidden;
    }
  }

}
